<footer id="footer">
    <p>
        <ul class="icons">
		    <li><a href="https://linkedin.com/in/m3dev1" target="_blank" class="icon brands fa-linkedin" title="LinkedIn"><span class="label">LinkedIn</span></a></li>
			<li><a href="https://github.com/m3dev1" target="_blank" class="icon brands fa-github" title="GitHub"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:career@automatt.sh?subject=Career Opportunity" class="icon far fa-envelope-open" title="Email"><span class="label">Email</span></a></li>
        </ul>
    </p>
    <p class="copyright">&copy; {% year %} AutoMatt.sh</p>
    <!-- Design: Modified from https://html5up.net -->
</footer>