<article id="intro">
    <h2 class="major">Intro</h2>
    <span class="image main"><img src="images/intro.png" alt="Intro" /></span>
    <p>Hi, I'm Matt!</p>
    <p>I'm an Engineer with over a decade of experience in IT, specializing in infrastructure management and automation. My expertise spans a diverse range of technologies encompassing Python, Ansible, Docker, and Terraform in on-prem Linux and AWS environments.</p>
    <p>During my 10-year career at Apple, I played a pivotal role in automating and optimizing infrastructure operations. By designing innovative solutions to address deeply complex technical challenges, I have improved operations across the AppleCare, Finance, and IS&T organizations within Apple, ensuring prompt and effective resolutions to uphold peak operational performance. I engineered automated deployment solutions that reduced deployment times from 10 hours to 30 minutes, developed critical monitoring applications, and published comprehensive runbooks to enhance operational efficiency. My efforts  significantly reduced manual workloads and improved system reliability, benefiting internal services used by 26,000 employees.</p>
    <p>In 2022, I joined the Northwest Education Association (NWEA), later acquired by Houghton Mifflin Harcourt, as a DevOps Engineer and Site Reliability Engineer. My dedication to supporting developers and removing toil led to increased operational efficiency through faster deployment times, comprehensive runbooks, streamlined triage process, and reduced on-call alerts.</p>
    <p>Currently pursuing the Certified Kubernetes Application Developer (CKAD) certification, I am dedicated to continuous learning and professional growth. I actively mentor junior engineers, fostering a collaborative and knowledge-sharing environment. Driven by a passion for technology and innovation, I am eager to contribute my skills and expertise to a dynamic team, ensuring the reliability and performance of complex systems.</p>
</article>