<nav>
    <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="resume" target="_blank">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
        <!--<li><a href="#elements">Elements</a></li>-->
    </ul>
</nav>