<article id="projects">
    <h2 class="major">Projects</h2>
    <span class="image main"><img src="images/projects.png" alt="Projects" /></span>
    <h3 class="minor">AutoMatt.sh</h2>
    <p>Inspired by the <a href="https://cloudresumechallenge.dev/" target="_blank">Cloud Resume Challenge</a>, I built this website to host my portfolio, resume, and contact information. I decided to take it a step further than the simple S3 static website by adding the use of OAC (Origin Access Control) for additional security, Certificate Manager for SSL/TLS certs, combined with Lambda and SES (Simple Email Service) for handling the contact form and some extra security layers within.</p>
    <p>Admittedly, using all of these AWS services was entirely overkill, but the experience was still enjoyable to learn from and helped further strengthen my knowledge in AWS.</p>
    <p><em>Technologies used: AWS (S3, Origin Access Control, Certificate Manager, CloudFront CDN, Lambda, Simple Email Service)</em></p>
    <hr>
    <h3 class="minor">Dimension-11ty</h2>
    <p>GitHub repo: <a href="https://github.com/m3dev1/dimension" target="_blank">dimension-11ty</a></p>
    <p>My first foray into using the <a href="https://www.11ty.dev/" target="_blank">Eleventy (11ty) project</a> and the <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a> templating engine by converting the Dimension theme from <a href="html5up.net" target="_blank">https://html5up.net</a> for use with 11ty.
    <p><em>Technologies used: 11ty, NodeJS, HTML, CSS, JS, Nunjucks</em></p>
    <hr>
    <h3 class="minor">Ansible-Doom-Emacs</h3>
    <p>GitHub repo: <a href="https://github.com/m3dev1/ansible-doom-emacs" target="_blank">ansible-doom-emacs</a></p>
    <p>For a short time I tested out using Fedora as my daily driver, and I wanted a quick way to deploy <a href="https://github.com/doomemacs/doomemacs" target="_blank">Doom Emacs</a> to that system. Given my love for automation, I decided to write Ansible playbooks to automate the installation process of Emacs, Doom Emacs, Nerd Fonts, and handling secrets using Ansible Vault.</p>
    <p><em>Technologies used: Ansible, Ansible Vault, Doom Emacs, Emacs, Fedora</em></p>
</article>