---
title: AutoMatt.sh
layout: 'base.njk'
---

<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="logo">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg width="40px" height="40px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.5C0 1.67157 0.671573 1 1.5 1H13.5C14.3284 1 15 1.67157 15 2.5V12.5C15 13.3284 14.3284 14 13.5 14H1.5C0.671573 14 0 13.3284 0 12.5V2.5ZM5.79293 7.50001L3.14648 4.85356L3.85359 4.14645L7.20714 7.50001L3.85359 10.8536L3.14648 10.1465L5.79293 7.50001ZM12 11H8V10H12V11Z" fill="#ffffff" />
            </svg>
        </div>
			<!-- Navigation -->
			{% include 'nav.njk' %}
        <div class="content">
            <div class="inner">
                <div class="text-content">
					<h1>Matthew Buckley</h1>
					<p class="title">Site Reliability Engineer | DevOps Engineer | Software Engineer</p>
					<div id="typed-strings">
						<span>Automator</span>
						<span>Engineer</span>
						<span>Python Developer</span>
						<span>DevOps Engineer</span>
						<span>Site Reliability Engineer</span>
						<span>Ansible Automator</span>
						<span>Terraform Builder</span>
						<span>Linux Enthusiast</span>
						<span>Cat Dad</span>
						<span>Tech Enthusiast</span>
						<span>Gamer</span>
						<span>Runbook Author</span>
						<span>Triage Tamer</span>
						<span>On-call Engineer</span>
						<span>Continuous Learner</span>
					</div>
					<span id="typed"></span>
				</div>
			</div>
			<hr>
			<h2>References</h2>
			<p>Here's what some awesome people have said about working with me.</p>

			<div class="references-container">
				<div class="references">
					<img src="images/heidi.jpg" alt="Heidi Cupp, DevOps Manager" class="references-img">
				<div class="references-text">
					<p>"Matt is a true professional and a brilliant technologist who brings out the best in those around him. I wholeheartedly recommend him to any organization lucky enough to have him. His skill set, work ethic, and team spirit are rare finds in today's competitive landscape."</p>
					<div class="author">
						<hr><strong>Heidi Cupp</strong>
						<br>DevOps Manager
					</div>
				</div>
			</div>

			<div class="references">
				<img src="images/tim.jpg" alt="Tim Perkins, Staff DevOps Engineer" class="references-img">
				<div class="references-text">
					<p>"Matt is eager to learn, fantastic at asking questions, and equally so at writing documentation. He's also a pleasure to work with, and a great communicator. Any organization will be lucky when he's on board."</p>
					<div class="author">
						<hr><strong>Tim Perkins</strong>
						<br>Staff DevOps Engineer
					</div>
				</div>
			</div>

			<div class="references">
				<img src="images/logan.jpg" alt="Logan Barnett, Senior DevOps Engineer" class="references-img">
				<div class="references-text">
					<p>"Matt is eager to learn, resourceful, and focused on user satisfaction. He maintains a polite and helpful tone, even in text. He excelled in automation and consistently sought to maximize impact. I'd rehire him in a heartbeat."</p>
					<div class="author">
						<hr><strong>Logan Barnett</strong>
						<br>Senior DevOps Engineer
					</div>
				</div>
			</div>
		</div>

	</div>

    </header>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        {% include 'intro.njk' %}

        <!-- Projects -->
        {% include 'projects.njk' %}

        <!-- About -->
        {% include 'about.njk' %}

        <!-- Contact -->
        {% include 'contact.njk' %}

    </div>

	<!-- Footer -->
	{% include 'footer.njk' %}

</div>

<!-- BG -->
<div id="bg"></div>

<script type="text/javascript" src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script type="text/javascript" src="assets/js/typewriter.js"></script>
<script type="text/javascript" src="assets/js/validate.js"></script>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/browser.min.js"></script>
<script type="text/javascript" src="assets/js/breakpoints.min.js"></script>
<script type="text/javascript" src="assets/js/util.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>