---
title: AutoMatt.sh
permalink: "resume/index.html"
layout: 'resume-base.njk'
---

<!-- Wrapper - Full container -->
<div class="wrapper">
    <!-- Resume -->
    <div class="resume">
        <!-- Heading -->
        <div class="heading">
            <!-- Heading -- Left -->
            <div class="heading-left">
                <span id="name">Matthew Buckley</span>
                <br><span id="title">DevOps Engineer</span><br>
               <a href="mailto:career@automatt.sh?subject=Career Opportunity" title="Email" id="email">career@automatt.sh</a>|<a href="tel:+18476659740" title="Phone" id="phone">847-665-9740</a>|<a href="https://automatt.sh" target="_blank" title="website"><span id="website">AutoMatt.sh</span></a>|<a href="https://linkedin.com/in/m3dev1" target="_blank" title="LinkedIn"><span id="linkedin">LinkedIn</a>|<a href="https://github.com/m3dev1" target="_blank" title="GitHub"><span id="github">GitHub</span></a>|<span id="city-state">Fox Lake, IL</span>
            </div>
            <!-- Heading -- Right -->
            {# <div class="heading-right">
            </div> #}
        </div>
        <!-- Skills -->
        <h3 class="section">Skills</h3>
        <div class="skills">
            <div class="skillcard">
                <!-- Skills 1 -->
                <ul>
                    <li>Python</li>
                    <li>Ansible</li>
                    <li>Docker</li>
                    <li>Kubernetes</li>
                </ul>
            </div>
            <div class="skillcard">
                <!-- Skills 2 -->
                <ul>
                    <li>AWS</li>
                    <li>Terraform</li>
                    <li>Bash</li>
                    <li>Groovy</li>
                </ul>
            </div>
            <div class="skillcard">
                <!-- Skills 3 -->
                <ul>
                    <li>CentOS</li>
                    <li>RHEL</li>
                    <li>Debian</li>
                    <li>Ubuntu</li>
                </ul>
            </div>
            <div class="skillcard">
                <!-- Skills 4 -->
                <ul>
                    <li>Linux Automation</li>
                    <li>Site Reliability</li>
                    <li>DevOps</li>
                    <li>CI/CD</li>
                </ul>
            </div>
        </div>
        <!-- Experience -->
        <h3 class="section">Experience</h3>
        <div class="experience">
            <!-- HMH -->
            <div class="job-title-and-date">
                <div class="job-title">DevOps Engineer</div>
                <div class="date">08/2022 - 10/2023</div>
            </div>
            <div class="company-and-location">
                <div class="company">Houghton Mifflin Harcourt</div>
                <div class="location">Portland, OR</div>
            </div>
            <div class="accomplishments">
                {# <p>Formerly Northwest Education Association (NWEA), a 2.8 billion dollar education company, acquired by Houghton Mifflin Harcourt (HMH) in May 2023. I served as a DevOps Engineer and Site Reliability Engineer for NWEA’s global SaaS products with over 400,000 concurrent users.</p> #}
                <ul>
                    <li>Managed 4,500 Linux servers in on-premises and AWS using Ansible, Puppet, Bash, and Terraform, enhancing scalability and consistency via Infrastructure as Code (IaC) practices.</li>
                    <li>Authored Ansible playbooks triggered through Jenkins CI/CD pipelines, reducing ongoing patching duration by 40% in 12 months, mitigating configuration drift.</li>
                    <li>Served as primary on-call DevOps and Site Reliability Engineer, responsible for quickly resolving production incidents via root cause analysis for NWEA’s global SaaS products.</li>
                    <li>Streamlined on-call engineer efficiency via documentation runbooks for handling production incidents and conducting post-mortem analysis, significantly improving mean time to repair.</li>
                    <li>Coordinated product deployments, improving deployment efficiency by 30% over one year by solving complex challenges with release and development teams.</li>
                    <li>Completed AWS Solutions Architect, AWS SysOps Administrator, and Kubernetes training programs over a six-month period.</li>
                </ul>
            </div>

            <!-- Apple - Operations Engineer -->
            <div class="job-title-and-date">
                <div class="job-title">Operations Engineer</div>
                <div class="date">06/2021 - 08/2022</div>
            </div>
            <div class="company-and-location">
                <div class="company">Apple</div>
                <div class="location">Cupertino, CA</div>
            </div>
            <div class="accomplishments">
                <ul>
                    <li>Reduced deployment times by 95% from 10 hours to 30 minutes by engineering automated configuration and deployments using Ansible, Python and Bash.</li>
                    <li>Implemented a Python and MongoDB application to monitor software signing servers, offering insights into developer trends for senior management.</li>
                    <li>Developed comprehensive infrastructure automation utilizing Ansible, Python, and Bash for deploying on-prem and private cloud software signing systems.</li>
                    <li>Published runbooks in Confluence for software engineering and operations teams, improving operational efficiency and preventing tribal knowledge.</li>
                </ul>
            </div>

            <!-- Apple - Systems Engineer -->
            <div class="job-title-and-date">
                <div class="job-title">Systems Engineer</div>
                <div class="date">03/2018 - 06/2021</div>
            </div>
            <div class="company-and-location">
                <div class="company">Apple</div>
                <div class="location">Cupertino, CA</div>
            </div>
            <div class="accomplishments">
                <ul>
                    <li>Automated operations and support tasks using Python and MySQL for global Apple-internal services consisting of 26,000 users.</li>
                    <li>Co-created Ansible playbooks for managing virtual machine servers in private cloud, reducing manual operations tasks by 80%.</li>
                    <li>Designed Python & MySQL automation for internal scheduling systems reducing deployment time by 98%, from 3 hours to 2 minutes.</li>
                    <li>Wrote Python application to interact with MySQL database to automate internal survey creation and reporting, reducing manual workloads by 75%.</li>
                </ul>
            </div>
        </div>
        <!-- Education -->
        <h3 class="section">Education</h3>
        <div class="education">
            <div class="degree-title-and-date">
                <div class="degree-title">B.S. Database Management & Data Analytics</div>
                <div class="university">Western Governors University</div>
            </div>
            <div class="university-and-location">
                <div class="date"><br></div>
                <div class="university-location">Salt Lake City, UT</div>
            </div>
        </div>
        <!-- Certifications -->
        <!-- Interests -->




    </div>

</div>


    <button id="download-pdf" class="download-pdf"><span class="icon far fa-solid fa-file-download-alt">Print</span></button>
    <button id="toggle-mode" class="toggle-mode"><span class="icon far fa-solid fa-lightbulb"></span></button>

    <script src="../assets/js/pdf.js"></script>
    <script src="../assets/js/dark-mode.js"></script>

<script type="text/javascript" src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script type="text/javascript" src="../assets/js/typewriter.js"></script>
<script type="text/javascript" src="../assets/js/validate.js"></script>
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/browser.min.js"></script>
<script type="text/javascript" src="../assets/js/breakpoints.min.js"></script>
<script type="text/javascript" src="../assets/js/util.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>